In [6]:
import pandas as pd
tweets = pd.read_csv('mendocino.csv')
tweets.head()

,Unnamed: 0,id,text,geo,created_at,lat,lon,date
0,13,1091061532023173121,@kapono_lucas All their soups are pretty fire....,{'place_id': '8fa6d7a33b83ef26'},2019-01-31 19:51:54,35.984784,-115.209254,2019-01-31
1,17,1091043370649116672,PG&amp;E attorney: Goal is to establish a trus...,{'place_id': '5a110d312052166f'},2019-01-31 18:39:44,37.708075,-122.514926,2019-01-31
2,18,1091043339292487680,Attending 411 sen hearing on wildfires. 140 de...,{'place_id': 'b71fac2ee9792cbe'},2019-01-31 18:39:37,38.437920,-121.576613,2019-01-31
3,19,1091041883151712257,In bankruptcy court for PG&amp;E hearing. PG&a...,{'place_id': '5a110d312052166f'},2019-01-31 18:33:50,37.708075,-122.514926,2019-01-31
4,21,1091020007805317120,@BrandiKruse @waDNR @Hilary_FranzCPL Nope. The...,{'place_id': '3b36422b848153f4'},2019-01-31 17:06:54,36.527438,-119.430683,2019-01-31

In [7]:
from nltk.tokenize import TweetTokenizer

In [8]:
from matplotlib import pyplot as plt
from nltk.corpus import stopwords
import nltk
from collections import Counter

In [9]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.decomposition import LatentDirichletAllocation

In [10]:
tweet_text = tweets['text']

In [12]:
tokenizer = TweetTokenizer()

tokens = [tokenizer.tokenize(t) for t in tweet_text]

In [15]:
clean_tweets = []
for t in tokens:
    # lower case
    words = [w.lower() for w in t]
    # Only keep alphanumeric words
    words = [w for w in words if w.isalpha()]
    clean_tweets.append(words)

In [61]:
tfidf = TfidfVectorizer(stop_words="english", max_df=0.6, min_df=.1)

In [62]:
tweet_tfidf = tfidf.fit_transform(tweet_text)

In [57]:
tweet_tfidf

<5567x1321 sparse matrix of type '<class 'numpy.float64'>'
	with 51030 stored elements in Compressed Sparse Row format>

In [63]:
lda = LatentDirichletAllocation(n_components=5, random_state=1).fit(tweet_tfidf)

In [64]:
# n_features=1000
n_components=5
n_top_words=20
feature_names = tfidf.get_feature_names_out()
def display_topics(model, feature_names, no_top_words):
    for topic_idx, topic in enumerate(model.components_):
        print("Topic %d:" % (topic_idx))
        print(" ".join([feature_names[i] for i in topic.argsort()[:-no_top_words - 1:-1]]))
        
        
no_top_words = 40
display_topics(lda, feature_names, no_top_words)

Topic 0:
smoke fires like wildfires california wild wildfire forest
Topic 1:
california wild wildfires fires like forest wildfire smoke
Topic 2:
fires forest wild like california smoke wildfires wildfire
Topic 3:
wildfires like smoke fires wild forest california wildfire
Topic 4:
wildfire like california smoke fires forest wildfires wild

In [43]:
lda.transform(tweet_tfidf[0])

array([[0.03732274, 0.03732264, 0.03732228, 0.03732658, 0.0373263 ,
        0.03732962, 0.66407573, 0.03732145, 0.03732563, 0.03732703]])

In [46]:
tfidf.get_feature_names_out()

array(['000', '10', '100', ..., 'yr', 'zero', 'zone'], dtype=object)