In [1]:
import os
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt
import sys
sys.path.append("../scripts/twitter")
from searchTwitter import TwitterDataFrame, TwitterSearchTerm
import utils as ut

In [5]:
qt = "test -has:links -is:retweet point_radius:[-122.5 37.8 25mi] has:geo lang:en -has:media place_country:us"
all_search = TwitterSearchTerm(qt,  "2018-01-01T00:00:00z", "2018-01-10T00:00:00z")
all_search.get_term_count()

===========================================
Total tweets for query test -has:links -is:retweet point_radius:[-122.5 37.8 25mi] has:geo lang:en -has:media place_country:us :
88
===========================================

                        end                     start  tweet_count
0  2018-01-02T00:00:00.000Z  2018-01-01T00:00:00.000Z            6
1  2018-01-03T00:00:00.000Z  2018-01-02T00:00:00.000Z           11
2  2018-01-04T00:00:00.000Z  2018-01-03T00:00:00.000Z           14
3  2018-01-05T00:00:00.000Z  2018-01-04T00:00:00.000Z           14
4  2018-01-06T00:00:00.000Z  2018-01-05T00:00:00.000Z            9
5  2018-01-07T00:00:00.000Z  2018-01-06T00:00:00.000Z           10
6  2018-01-08T00:00:00.000Z  2018-01-07T00:00:00.000Z            7
7  2018-01-09T00:00:00.000Z  2018-01-08T00:00:00.000Z            9
8  2018-01-10T00:00:00.000Z  2018-01-09T00:00:00.000Z            8

In [6]:
test = all_search.get_tweets()

Making request 1 of 1
Query finished

In [8]:
t2 = TwitterDataFrame(test)
t2

,id,author_id,text,geo,created_at,lat,lon
0,950863672133402624,2662477235,Bruce actually passed the California smog test...,{'place_id': '6a71821001635bbd'},2018-01-09 22:55:40,37.649122,-122.500164
1,950806070905028608,230592213,"@DynastySkyler @Paeno Kind of like, if I take ...",{'place_id': '5a110d312052166f'},2018-01-09 19:06:47,37.708075,-122.514926
2,950804225742655488,12767662,@grabbou @AdamRackis @kurtiskemple I think the...,{'place_id': '5a110d312052166f'},2018-01-09 18:59:27,37.708075,-122.514926
3,950627299153465344,14993332,"@deanboop There should be a test, background c...",{'place_id': 'ab2f2fac83aa388d'},2018-01-09 07:16:24,37.699279,-122.342660
4,950617242844086272,823760390249025536,@jeffabender1 @FoxNews I bet you won’t put tha...,{'place_id': '746cc5651750e057'},2018-01-09 06:36:26,37.634511,-122.471871
...,...,...,...,...,...,...,...
82,947838453110095872,90488576,@RobMeaney @copyconstruct Hrm.. *does* it? 😑🤔...,{'place_id': '5a110d312052166f'},2018-01-01 14:34:31,37.708075,-122.514926
83,947748211036319744,1253053693,Of all time \n1)The entire history of you \n2)...,{'place_id': '101f6a0f4879d8a6'},2018-01-01 08:35:56,37.497748,-122.328890
84,947734438711922688,8657052,@puppygames Wait how do you test your builds????,{'place_id': 'ccb1d10a24cf562a'},2018-01-01 07:41:12,38.041997,-122.199321
85,947721862544420865,726823645,@CNN watching @Andy and @andersoncooper is aki...,{'place_id': '5a110d312052166f'},2018-01-01 06:51:14,37.708075,-122.514926
86,947661287953018880,39200434,@daveambrose @hqtrivia @ScottRogowsky Big test...,{'place_id': '5a110d312052166f'},2018-01-01 02:50:32,37.708075,-122.514926

In [9]:
t2.group_by_day()

                                                         text
date
2018-01-01  2018 is starting off with a bang. Around 3am I...
2018-01-02  I play dumb to see if you try to test my intel...
2018-01-03  @fbartho @nevercodeHQ Nice to meet you @fbarth...
2018-01-04  @SuperUnisonBand @leg_dog dis the shit right h...
2018-01-05  @sanjaymanjrekar Completely agree with you. Wh...
2018-01-06  Diet ProTip - When at restaurant, tell your se...
2018-01-07  @JspiderSF @eean @daguilarcanabal Supervisor J...
2018-01-08  @Jaxidian Let me test again. I've never had au...
2018-01-09  Bruce actually passed the California smog test...

In [4]:
test

,id,author_id,text,geo,created_at,lat,lon
0,947947806441971712,39554451,2018 is starting off with a bang. Around 3am I...,{'place_id': '61f1d75eb5064808'},2018-01-01 21:49:03,37.667637,-122.202424
1,947838453110095872,90488576,@RobMeaney @copyconstruct Hrm.. *does* it? 😑🤔...,{'place_id': '5a110d312052166f'},2018-01-01 14:34:31,37.708075,-122.514926
2,947748211036319744,1253053693,Of all time \n1)The entire history of you \n2)...,{'place_id': '101f6a0f4879d8a6'},2018-01-01 08:35:56,37.497748,-122.328890
3,947734438711922688,8657052,@puppygames Wait how do you test your builds????,{'place_id': 'ccb1d10a24cf562a'},2018-01-01 07:41:12,38.041997,-122.199321
4,947721862544420865,726823645,@CNN watching @Andy and @andersoncooper is aki...,{'place_id': '5a110d312052166f'},2018-01-01 06:51:14,37.708075,-122.514926
5,947661287953018880,39200434,@daveambrose @hqtrivia @ScottRogowsky Big test...,{'place_id': '5a110d312052166f'},2018-01-01 02:50:32,37.708075,-122.514926

In [3]:
qt = "-has:links -is:retweet point_radius:[-122.5 37.8 25mi] has:geo lang:en -has:media place_country:us"

all_search = TwitterSearchTerm(qt,  "2018-01-01T00:00:00z", "2019-01-01T00:00:00z")

all_search.get_term_count()

===========================================
Total tweets for query -has:links -is:retweet point_radius:[-122.5 37.8 25mi] has:geo lang:en -has:media place_country:us :
2734221
===========================================

                         end                     start  tweet_count
0   2018-12-18T00:00:00.000Z  2018-12-17T00:00:00.000Z         6378
1   2018-12-19T00:00:00.000Z  2018-12-18T00:00:00.000Z         6834
2   2018-12-20T00:00:00.000Z  2018-12-19T00:00:00.000Z         6934
3   2018-12-21T00:00:00.000Z  2018-12-20T00:00:00.000Z         6864
4   2018-12-22T00:00:00.000Z  2018-12-21T00:00:00.000Z         7095
..                       ...                       ...          ...
6   2018-01-08T00:00:00.000Z  2018-01-07T00:00:00.000Z         7458
7   2018-01-09T00:00:00.000Z  2018-01-08T00:00:00.000Z         7800
8   2018-01-10T00:00:00.000Z  2018-01-09T00:00:00.000Z         8659
9   2018-01-11T00:00:00.000Z  2018-01-10T00:00:00.000Z         7279
10  2018-01-12T00:00:00.000Z  2018-01-11T00:00:00.000Z         7558

[365 rows x 3 columns]

This seems like a much more reasonable number. Let's make sure that the code is updated to pick up more information about the user, too.

In [12]:
import json
import requests
def create_header():
    """
    This function reads from the json file that stores the bearer
    token for authenticating requests
    """
    with open('./.twitter_creds.json') as f:
        data = json.load(f)

    bearer = data["bearer_token"]
    headers = {
        'Authorization': 'Bearer '+bearer
    }

    return headers

payload = {
            "query": qt,
            "start_time":"2018-01-01T00:00:00z",
            "end_time":"2019-01-01T00:00:00z",
            "max_results": 10,
            "tweet.fields":"geo,created_at",
            "expansions":"geo.place_id,author_id",
            "place.fields":"geo,contained_within,country,full_name,name",
            "user.fields": "id,username"
        }

response = requests.get("https://api.twitter.com/2/tweets/search/all", params=payload, headers=create_header())

In [13]:
response.json()

{'data': [{'author_id': '7234222',
   'id': '1079889922037665794',
   'text': 'This #Mizzou game. Wife thought they were dead. She thought wrong.',
   'created_at': '2018-12-31T23:59:55.000Z',
   'geo': {'place_id': '5ef5b7f391e30aff'}},
  {'author_id': '36594876',
   'id': '1079889870019915776',
   'text': 'Good thing I didn’t walk into golf mart that day back in February to trade everything in for a bag of peanuts. I might’ve regretted that.',
   'created_at': '2018-12-31T23:59:43.000Z',
   'geo': {'place_id': 'ab2f2fac83aa388d'}},
  {'author_id': '253242118',
   'id': '1079889841569976320',
   'text': '@MollyJongFast I think he’s looking for a date with a whale',
   'created_at': '2018-12-31T23:59:36.000Z',
   'geo': {'place_id': 'ab2f2fac83aa388d'}},
  {'author_id': '46822887',
   'id': '1079889785030766592',
   'text': '@queerBengali I never mute and tell 😂',
   'created_at': '2018-12-31T23:59:22.000Z',
   'geo': {'place_id': '99e789320196ef6a'}},
  {'author_id': '18096791',
   'id': '1079889748599042048',
   'text': '@MrDane1982 Hannity is next .',
   'created_at': '2018-12-31T23:59:14.000Z',
   'geo': {'place_id': '5a110d312052166f'}},
  {'author_id': '2744327017',
   'id': '1079889736154533888',
   'text': 'To whoever thinks were bestfriends, were not 🙂',
   'created_at': '2018-12-31T23:59:11.000Z',
   'geo': {'place_id': 'ab2f2fac83aa388d'}},
  {'author_id': '2339427162',
   'id': '1079889665191141377',
   'text': '@J_Excks @serenawilliams Exactly, tired old punk of a man',
   'created_at': '2018-12-31T23:58:54.000Z',
   'geo': {'place_id': 'ab2f2fac83aa388d'}},
  {'author_id': '1032741',
   'id': '1079889587185405952',
   'text': '@delk People keep receipts for a long time',
   'created_at': '2018-12-31T23:58:35.000Z',
   'geo': {'place_id': '5a110d312052166f'}},
  {'author_id': '3673184834',
   'id': '1079889471145799680',
   'text': 'Only get my carts from legit sources. Tested. From the clubs i trust.',
   'created_at': '2018-12-31T23:58:07.000Z',
   'geo': {'place_id': '5ecbd073f39c00fa'}},
  {'author_id': '194639138',
   'id': '1079889434609278976',
   'text': "@megan_thescript Just answer the door as is. That's a textbook Win-Win.",
   'created_at': '2018-12-31T23:57:59.000Z',
   'geo': {'place_id': 'ab2f2fac83aa388d'}}],
 'includes': {'users': [{'id': '7234222',
    'name': 'Gieson Cacho',
    'username': 'gcacho'},
   {'id': '36594876', 'name': 'Matt Berson', 'username': 'MBBerson'},
   {'id': '253242118', 'name': 'G.Rap Brown', 'username': 'GLew1970'},
   {'id': '46822887',
    'name': '⚓️Imani Gandy Welcomes You to the Barge ⚓️',
    'username': 'AngryBlackLady'},
   {'id': '18096791',
    'name': 'Not4thefainthearted',
    'username': 'davidagardner'},
   {'id': '2744327017', 'name': 'Shay Shay 🦩', 'username': 'ohmyshaay'},
   {'id': '2339427162',
    'name': 'Patricia Arabia',
    'username': 'PatriciaArabia1'},
   {'id': '1032741', 'name': 'Tommy Leep', 'username': 'leepnet'},
   {'id': '3673184834', 'name': 'El Hijo De Mota', 'username': 'GiftOfDab'},
   {'id': '194639138', 'name': 'The Filmatelist', 'username': 'Filmatelist'}],
  'places': [{'full_name': 'Berkeley, CA',
    'geo': {'type': 'Feature',
     'bbox': [-122.324818, 37.8459532, -122.234225, 37.905738],
     'properties': {}},
    'country': 'United States',
    'id': '5ef5b7f391e30aff',
    'name': 'Berkeley'},
   {'full_name': 'Oakland, CA',
    'geo': {'type': 'Feature',
     'bbox': [-122.34266, 37.699279, -122.114711, 37.8847092],
     'properties': {}},
    'country': 'United States',
    'id': 'ab2f2fac83aa388d',
    'name': 'Oakland'},
   {'full_name': 'Emeryville, CA',
    'geo': {'type': 'Feature',
     'bbox': [-122.315509, 37.827015, -122.27579, 37.850085],
     'properties': {}},
    'country': 'United States',
    'id': '99e789320196ef6a',
    'name': 'Emeryville'},
   {'full_name': 'San Francisco, CA',
    'geo': {'type': 'Feature',
     'bbox': [-122.514926, 37.708075, -122.357031, 37.833238],
     'properties': {}},
    'country': 'United States',
    'id': '5a110d312052166f',
    'name': 'San Francisco'},
   {'full_name': 'Hayward, CA',
    'geo': {'type': 'Feature',
     'bbox': [-122.160814, 37.592632, -122.010737, 37.689909],
     'properties': {}},
    'country': 'United States',
    'id': '5ecbd073f39c00fa',
    'name': 'Hayward'}]},
 'meta': {'newest_id': '1079889922037665794',
  'oldest_id': '1079889434609278976',
  'result_count': 10,
  'next_token': 'b26v89c19zqg8o3fn0vntrjkt4x72s39lsf5nmo255bi5'}}